@model ASP_NET_MVC_Q2.ViewModel.DetailViewModel

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>
@if (Model != null)
{
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>ProductName</dt>
            <dd>@Html.DisplayFor(model => model.Product_Name)</dd>
            <dt>Locale</dt>
            <dd>@Html.DisplayFor(model => model.Locale)</dd>
            <dt>Price</dt>
            <dd>@Html.DisplayFor(model => model.Price)</dd>
            <dt>PromotePrice</dt>
            <dd>@Html.DisplayFor(model => model.Promote_Price)</dd>
            <dt>CreateDate</dt>
            <dd>@Html.DisplayFor(model => model.Create_Date)</dd>
        </dl>
    </div>
}
<p>
    <a href="javascript:void(0);" onclick="history.go(-1);">Back to List</a>
</p>
